// colours
$white:#fff;
$black:#000;
$whitesmoke: #f5f5f56e;
$ghostwhite:#f8f8ff;
$lightgray:#d3d3d3;
$grey:#696969;
$pink:#ffc0cb;
$yellow:#f0f696;
$lightgreen:#96f7d2;
$cyan:#60a9a6;

// fonts
$primaryfont: 'Montserrat', sans-serif;
$secondaryfont: 'Parisienne', cursive;