@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/header';
@import 'partials/lists';
@import 'partials/health';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Parisienne&display=swap');

// general styles

body {
  margin:20px;
  background-color: $white;
  font-family: $primaryfont;
  color: $black;
}

.App {
  border:5px solid pink;
  background-color: $ghostwhite;
}

h1 {
  @include mainTitle;
}

h2, h3 {
  @include title;
}

input, textarea {
  @include text;
}

input {
  padding:5px 10px;
  background-color: $ghostwhite;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox label {
  position: relative;
  display: inline-block;
  
  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  
  /*Needed for the line-height to take effect*/
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
  height: 16px;
  width: 16px;
  border: 2px solid;
  left: 0px;
  top: 5px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 5px;
  top: 10px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}